<mat-list class="title-list-1" role="list">
  <mat-list-item class="main-title" role="listitem">Welcome to VEW</mat-list-item>
  <mat-list-item class="main-footer" role="listitem">Your one stop shop to get the job</mat-list-item>
</mat-list>

<mat-grid-list class="directory" cols="3" rowHeight="1:1" gutterSize="20px">
  <mat-grid-tile class="tiles">
    <mat-grid-tile-header class="tile-titles">Search Questions</mat-grid-tile-header>
    <p>Search interview questions based on technology or company.</p>
    <mat-grid-tile-footer>
      <button class="button" mat-raised-button color="primary">Browser Questions</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile class="tiles">
    <mat-grid-tile-header class="tile-titles">Register</mat-grid-tile-header>
    <p>Once registered, you will have the oportunity to submit interview questions, leave comments, and upvote/downvote submitted questions.</p>
    <mat-grid-tile-footer>
      <button class="button" mat-raised-button color="primary">Register</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
  <mat-grid-tile class="tiles">
    <mat-grid-tile-header class="tile-titles">Q&A</mat-grid-tile-header>
    <p>Get answers to more than 1000 commonly asked interview questions and give back by sharing your knowledge with others</p>
    <mat-grid-tile-footer>
      <button class="button" mat-raised-button color="primary">Q&A</button>
    </mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>

<br>
<br>

<div class="hero-body">
  <div class="container">
  </div>
</div>

<footer>
  <div class="footer">
    <p>VEW</p>
    <p>Current Version: 1.0.2</p>
  </div>
</footer>

