<mat-card class="card">
  <mat-card-title class="title">
    Answers You've Provided
  </mat-card-title>
  <mat-card-content class="body">
    <div>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
      <p class="question">Hashset: not ordered, faster, no duplicates. Treeset: ordered, slower, no duplicates.</p>
    </div>
  </mat-card-content>
</mat-card>
