<mat-toolbar color="accent" *ngIf="errorExists">
    <mat-toolbar-row>
        {{ errorMessage }}
    </mat-toolbar-row>
</mat-toolbar>
<mat-card id="card">
    <div class="center-align">
        <mat-card-title>
            Add Question
        </mat-card-title>
    </div>

    <mat-card-content>
        <form [formGroup]="addQuestion" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Question</mat-label>
                <textarea rows="5" matInput type="text" placeholder="Ask Question Here" formControlName="question" required></textarea>
            </mat-form-field>
            <div class="center-align">
                <button mat-raised-button color="primary" [disabled]="!addQuestion.valid" id="addQuestion-button">Ask</button>
            </div>
        </form>       
    </mat-card-content>
</mat-card>
