/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    background: rgb(36, 36, 36);
    color: white;
    padding: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center-align {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
